.login-title{
    width: fit-content;
    color: white;
    align-self: center;
}
.hero-background {

}
.hero-background .hero-divider{
    width: 100%;
}

.login-form{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.login-form label{
    text-align: left;
}

.login-form input{
    line-height: 19px;
    padding: 14px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 4px;
    color: #7d93b2;
    background: #f9f9f9;
    border: 1px solid #e5e7f2;
}

.login-wrap{
    margin-top: 50px;
}

.perist-check{
    display: flex;
    text-align: left;
    max-width: 100%;
}

.perist-check input{
    width: min-content;
}

.login-button {
    width: max-content;
    margin-top: 10px;
    background: #4DB7FE;
    border-color: transparent;
    padding: 12px 30px 12px 30px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 0.923em;
    position: relative;
    overflow: hidden;
    transition: 500ms;
}
.login-button:hover{
    background-color: #384F95;
}

.form-reminder{
    text-align: left;
}

.form-reminder .line a{
    color: #4db7fe;
    text-decoration: underline;
}
.tooltip{
    text-align: left;
    max-height: 250px !important;
}
.tooltip p, .hidetooltip p{
    background-color: #f9f9f9;
    padding: 30px;
}
.hidetooltip{
    max-height: 0px;
    text-align: left;

}
.animate500{
    transition: 2s;
    max-height: 0px;
    overflow: hidden;
}

.fade-in-button {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    80% { opacity: 0; }
    100% { opacity: 1; }
  }