.hero-background-profile{
    min-height: 250px;
    height: 20vh;
    background-color: #4DB7FE;
    background-image: url('../img/background_shapes.png');
}

.main-content-wrap{
    background-color: #f6f6f6;
}

.main-content{
    display: flex;
    max-width: 1200px;
    margin: auto;
    min-height:80vh;
}

.menu-list{
    text-align: left;
    width: 100%;
    margin: 0px;
    list-style: none;
    padding: 0px;
}

.list-item{
    padding: 15px 10px 15px 10px;
    height: auto;
    border-bottom: 1px #eaeaea solid;
}
.list-item a{
    width: 100%;
    padding: 15px 10px 15px 10px;
    color: #4DB7FE;
    text-decoration: none;
    
}

.side-menu-wrap{
    padding-top: 20px;
    flex: 3;
    width: 100%;
    padding-right: 2px;
}

.side-menu{
    width: 100%;
    border-radius: 10px;
    background: white;
    border: 1px #eaeaea solid;
    height: fit-content;
}

.list-item .login-button{
    width: 100%;
}

.modal h3{
    font-weight: 700;
    color: #323232;
}

.profile-content-wrap{
    text-align: -webkit-center;
}