.search-wrap{
    display: flex;
    background: whitesmoke;
}

.maps-wrap{
    flex: 3;
    height: 100vh;
}
.search-accommodation{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    align-content: flex-start;
    padding: 10px 5px 0px 0px;
}
.search-accommodation-wrap {
    padding: 0px 0px 20px 15px;
    width: calc(50% - 15px);
    height: auto;
    border-radius: 10px;
}
.search-thumbnail-holder {
    aspect-ratio: 16/11;
    overflow: hidden;
    border-radius: 10px;
}
.search-thumbnail-holder img {
    height: 100%;
    aspect-ratio: 16/11;
    object-fit: cover;
    border-radius: 10px;
    transition: 500ms;
}

.search-thumbnail-holder  img:hover{
    transform: scale(1.1);
    filter: brightness(1);
}
.search-accommodation-description{
    height: max-content;
    padding: 10px 0px 0px 10px;
    max-width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 20px;
    margin-top: -40px;
}
.search-accommodation-description h3{
    margin: 0px;
    font-size: 22px;
}
.search-accommodation-description .icon{
    width: 18px;
    height: 18px;
}
.search-accommodation-thumbnail, .search-accommodation-description{
    position: relative;
}
.leaflet-popup-content{
    margin: 0px;
}

.maps-wrap .search-accommodation-wrap{
    width: 100%;
    padding: 0px;
}
.leaflet-popup-content-wrapper{
    padding: 0px;
}
div::-webkit-scrollbar {
    width: 5px;
}
   
div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
div::-webkit-scrollbar-thumb {
    background-color: #2e3f6e;
    outline: 0px solid white;
    border-radius: 10px;
}

.listing-wrap{
    height: 100vh;
    width: 40%;
    max-width: 40%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.search-filters{
    padding: 10px 15px 0px 15px;
}

.search-filters select:focus-visible{
    outline:1px solid #ebebeb;
} 

.search-button.filter{
    width: 100%;
    margin: 0px;
    border-radius: 0px;
}
.filter-wrap{
    background: white;
}